.aboutus-contact {
        .google-maps {
            margin: 0rem 4rem 4rem 0;
        }

        .contacth2 {
            color: $orange;
        }

        .aboutus-maps-container {
        background-color: #FFFFFF;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .klantadmin {
        .card {
            background-color: #f1f1f1;
        }
    }
}