.agenda {
	padding-bottom: 2rem;

	@media screen and (min-width: 768px) {
		padding-bottom: 4rem;
	}
}

@media screen and (min-width: 768px) {
	main .agenda .issue-moment {
		padding-bottom: 1rem;

		.card {
			margin-bottom: 0;
		}
	}
	.download-link-issue {
		text-align: right;
		margin-right: 0;
	}
}

.contact-client {
	h2 {
		margin-bottom: 2rem;
	}

	dt {
		margin-bottom: 0.5rem;
	}

	dd {
		margin-bottom: 1rem;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	i {
		margin-right: 0.5rem;
	}
}

@media screen and (min-width: 768px) {
	.google-maps {
		margin: 4rem 4rem 0 0;
	}

	.jumbotron-issue {
		padding-bottom: 0;
	}
}
