html {
	scroll-behavior: smooth;
}

.main-client-criteria-test {
	padding-bottom: 4rem;

	.breadcrumb {
		margin-bottom: 4rem;
	}

	.cards {
	}
}

.criteria-heading {
	margin-bottom: 3rem;

	h1 {
		margin-bottom: 1rem;
	}

	h3 {
		color: $blue;
		margin-bottom: 1rem;
	}
}

.question {
	background-color: $white;
	margin-bottom: 3rem;

	h2 {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: space-between;
		padding-right: 0;
	}

	.left {
		padding: 1rem 1rem 5rem;
		position: relative;

		@media screen and (min-width: 768px) {
			flex: 1;
			padding-top: 2rem;
			padding-left: 3rem;
		}
	}

	.next {
		bottom: 2rem;
		right: 1rem;
		position: absolute;
		text-decoration: none;

		@media screen and (min-width: 768px) {
			bottom: 2rem;
			right: 3rem;
		}
	}

	i {
		margin-left: 0.5rem;
	}

	img {
		display: none;

		@media screen and (min-width: 768px) {
			display: block;
		}
	}
}

.form-personen {
	display: inline-block;
	width: 2.6rem;
}

.hide {
	display: none;
}
