.link-arrow{
    color: $white;
}

.main-news {

 .h2news {
    margin: 2rem 0 2rem 0;
 }

 .page-link {
     color: $black;
 }

 .page-item.active .page-link {
     background-color: $orange;
     border-color: $orange;

 }

 @media screen and (max-width: 992px) {
    .card-img-right {
        display: none !important;
    }
    
}

 .card-img-right {
    width: 200px; 
    height: 271px;
 }

 .card p {
     padding-bottom: 1rem;
}

.pagination-container
{
    padding-top: 2rem;
    padding-bottom: 4rem;
}

}

