.link-arrow{
    color: $white;
}

.main-news {

 .h2news {
    margin: 2rem 0 2rem 0;
 }

 .page-link {
     color: $black;
 }

 .page-item.active .page-link {
     background-color: $orange;
     border-color: $orange;

 }
 
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
 }

 @media screen and (max-width: 992px) {
    .card-img-right {
        display: none !important;
    }
    
}



 .card-img-right {
    width: 200px; 
    height: 271px;
 }

 .card p {
     padding-bottom: 1rem;
}

}

