.main-volunteer-jobs{


.breadcrumb {
    margin-bottom: 0rem;
}

.about-us {
    padding-left: 0rem !important;
}

input.form-control {
    background-color: $lightgray;
}

.input-group-text {
    background-color: $lightgray;
}

.whitesection {
background-color: $white;
h2 {
    padding-top: 2rem;
}
}

.btn-donate {

    color: $white;
    background-color: $orange;
    font-weight: 700;
    max-width: 100%;
    padding: 15px;
    height: 22%;

    &:hover,
    &:active,
    &:focus {
        background-color: darken($color: $orange, $amount: 10%);
    }
}

h3 {
    color: $green !important;
}

p {
    font-size: 1rem;
}

.helpbox {
    p {
        margin-bottom: 2.5rem;
    }
}

.vacatures {
    padding: 1.25rem;

    h3 {
        padding-bottom: 1rem;
    }
    h2 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .btn-donate {
        margin-bottom: 4rem;
    }
}

}