@import "color";
@import "typography";

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #F9F9F9;
}

.media {
    background-color: white;
}

@media (min-width: 1200px){
.container {
    max-width: 1400px;
}
}

.stappen-top {
    padding-top: 2rem;
}

.stappen {
    padding-top: 25px;
    padding-left: 65px;
}

h1 {
    font-weight: 700;
}

.form-personen {
    display: inline-block;
    width: 6%;
}

.shadow {
    box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,.15)!important;
}

.p-3 {
    padding: 0rem!important;
}