@import "color";
@import "typography";

html {
    scroll-behavior: smooth;
  }

.media {
    background-color: white;
}

.stappen-top {
    padding-top: 0.5rem;
}

.stappen {
    padding-top: 30px;
    padding-left: 65px;
}

.card-text {
    padding: 30px;
}

h1 {
    font-weight: 700;
}

.form-personen {
    display: inline-block;
    width: 6%;
}

.shadow {
    box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,.15)!important;
}

.p-3 {
    padding: 0rem!important;
}

.tekst-licht {
    color: $darkgray;
}

.breadcrumb {
    margin-bottom: 0rem;
}

.alg-section {
    padding-top: 10px;
    padding-bottom: 60px;
}

.alg-section span{
    // font-weight: 600;
    color: $blue;
}

.section1 {
    background-color: $backgroundgrey;
    padding-bottom: 55px;
    padding-top: 35px;
}

.section1 h2 {
    margin: 3rem 0 1rem;
}

@media (max-width: 768px) {

.section1 .container {

    max-width: 100%;
}
}

@media (max-width: 768px) {
    .container img {
    max-width: 14%;
}
}



* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.maanden {
  padding: 20px 25px;
  width: 100%;
  background: #343434;
//   text-align: center;
}

.maanden-events {
    padding: 20px 25px;
  }

.maanden ul {
  margin: 0;
  padding: 0;
}

.maanden ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.maanden .prev {
  float: left;
  padding-top: 10px;
}

.maanden .next {
  float: right;
  padding-top: 10px;
}

.weekdagen {
  margin: 0;
  padding: 10px 0;
  background-color: #f7f7f7;
}

.weekdagen li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.dagen {
  padding: 20px 0 0 0;
  background: #fff;
  margin: 0;
}

.dagen li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 60px;
    font-size: 18px;
    color: #777;
}

.dagen li .active {
  padding: 5px;
  background: #2D8EFC;
  color: white !important
}

.btn-link {
    color: $black;
}

.toetsbutton {
    font-size: 24px;
}

@media screen and (max-width:720px) {
  .weekdagen li, .dagen li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdagen li, .dagen li {width: 12.5%;}
  .dagen li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdagen li, .dagen li {width: 12.2%;}
}

.card-header {
    background-color: $white;
}

.row-striped:nth-of-type(odd){
    background-color: #efefef;
    border-left: 4px #000000 solid;
  }
  
  .row-striped:nth-of-type(even){
    background-color: #ffffff;
    border-left: 4px #efefef solid;
  }
  
  .row-striped {
      padding: 15px 0;
  }

  #stap2 {
    height: 100%;
    width: 100%;
    z-index: 10;
    background-image: linear-gradient(120deg, #000000, #000000);
    opacity: .4;
    pointer-events: none;
  }

  #stap3 {
    height: 100%;
    width: 100%;
    z-index: 10;
    background-image: linear-gradient(120deg, #000000, #000000);
    opacity: .4;
    pointer-events: none;
  }

  #stap-alg
  {
    pointer-events: all;
  }



  .toetsbackground {
      background-color: #2d8efc;
  }