@import "color";
@import "typography";

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #F9F9F9;
}

.media {
    background-color: white;
}

@media (min-width: 1200px){
.container {
    max-width: 1400px;
}
}

.stappen-top {
    padding-top: 2rem;
}

.stappen {
    padding-top: 25px;
    padding-left: 65px;
}

h1 {
    font-weight: 700;
}

.form-personen {
    display: inline-block;
    width: 6%;
}

.shadow {
    box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,.15)!important;
}

.p-3 {
    padding: 0rem!important;
}


.section1 {
    background-color: $darkgray;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.maanden {
  padding: 16px 25px;
  width: 100%;
  background: #343434;
//   text-align: center;
}

.maanden-events {
    padding: 16px 25px;
  }

.maanden ul {
  margin: 0;
  padding: 0;
}

.maanden ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.maanden .prev {
  float: left;
  padding-top: 10px;
}

.maanden .next {
  float: right;
  padding-top: 10px;
}

.weekdagen {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdagen li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.dagen {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.dagen li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.dagen li .active {
  padding: 5px;
  background: #9ba1a0;
  color: white !important
}

@media screen and (max-width:720px) {
  .weekdagen li, .dagen li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdagen li, .dagen li {width: 12.5%;}
  .dagen li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdagen li, .dagen li {width: 12.2%;}
}