body {
  font-family: "Source Sans Pro", sans-serif;
  color: #343434;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

header {
  background-color: #f8f9fa;
}

.navbar {
  font-size: 1.125rem;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 2rem 0;
  }
}

.navbar-brand {
  max-width: 60%;
}
@media screen and (min-width: 768px) {
  .navbar-brand {
    max-width: 25%;
  }
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:active, .navbar-toggler:focus {
  outline: none;
}

.nav-item {
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .nav-item {
    margin-right: 0.5rem;
  }
}
.nav-item + .nav-item {
  border-top: 1px solid #EFEFEF;
}
@media screen and (min-width: 768px) {
  .nav-item + .nav-item {
    border-top: none;
  }
}

.nav-link {
  font-weight: 600;
}

.dropdown-toggle::after {
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .dropdown-toggle::after {
    display: none;
  }
}
.nav-item.show .dropdown-toggle::after {
  border-bottom: 0.3em solid;
  border-top: 0;
}

.navigation-donate {
  margin-top: 1rem;
  padding: 0 0.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .navigation-donate {
    margin-top: 0.5rem;
  }
}

.btn-nav-donate {
  background-color: #F47A20;
  color: #FFFFFF;
  font-size: inherit;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  width: 100%;
}

.dropdown-menu {
  background-color: #f8f9fa;
  border: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .dropdown-menu {
    border: 1px solid #EFEFEF;
  }
}
.dropdown-menu .dropdown-item {
  border-top: 1px solid #EFEFEF;
  padding: 0.5rem;
}

#languageDropdown {
  color: #AAAAAA;
  font-size: 1rem;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link {
  color: #F47A20;
}

.navbar-light .navbar-nav .nav-link {
  color: #343434;
}

footer {
  background-color: #f8f9fa;
  color: #343434;
}
footer .footer-rows {
  justify-content: space-between;
  padding: 2rem 0;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul .footer-title {
  font-weight: 600;
  margin-bottom: 1rem;
}
footer ul li + li {
  margin-top: 0.25rem;
}
footer a {
  color: #343434;
}
footer a:hover {
  color: #F47A20;
  text-decoration: none;
}
footer .card,
footer .card-header {
  border: none;
  background-color: transparent;
}
footer .card-header {
  padding: 0.75rem 0;
}
footer .card-header .btn-link {
  color: #343434;
  font-weight: 600;
}
footer .card-header .btn-link:active, footer .card-header .btn-link:focus {
  text-decoration: none;
}
footer .card-header .btn-link::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}
footer .card-header .btn-link[aria-expanded=true]::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}
footer .card-body {
  padding-top: 0;
}
footer .footer-side-info {
  background-color: #EFEFEF;
  padding: 1rem;
  color: #343434;
  font-size: 0.875rem;
}
footer .footer-side-info a {
  color: #343434;
  display: inline-block;
  margin-right: 1rem;
}
footer .footer-side-info a:hover {
  color: #F47A20;
  text-decoration: none;
}
footer .footer-side-info a:first-of-type {
  width: 100%;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  footer .footer-side-info a:first-of-type {
    width: auto;
    margin-bottom: 0;
  }
}
footer .footer-side-info span {
  margin-right: 1rem;
}

img {
  height: auto;
  max-width: 100%;
}

main {
  background-color: #EFEFEF;
}
main .cards {
  padding: 2rem 0;
}
@media screen and (min-width: 768px) {
  main .cards {
    display: flex;
    margin: 1rem;
  }
}
main .cards .card {
  border: none;
}
main .cards .card:not(:last-child) {
  margin-bottom: 2rem;
}
main .cards .btn {
  color: #FFFFFF;
  width: 100%;
}
main .cards .btn-client {
  background-color: #6BCB4F;
}
main .cards .btn-volunteer {
  background-color: #2D8EFC;
}
main .cards .btn-donate {
  background-color: #F47A20;
}
main .jumbotron {
  background-color: #FFFFFF;
}
main .jumbotron h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
main .jumbotron h2 {
  color: #F47A20;
  font-size: 1rem;
  margin-bottom: 1rem;
}
main .jumbotron .link-about-us {
  color: #343434;
}
main .jumbotron .link-about-us:active, main .jumbotron .link-about-us:focus {
  text-decoration: none;
}
main .jumbotron .link-about-us i {
  margin-left: 0.5rem;
}
main .link-arrow {
  text-align: right;
  display: block;
  margin-right: 0.5rem;
  color: #343434;
}
main .agenda h2 {
  margin-bottom: 1rem;
}
main .agenda .card {
  margin-bottom: 2rem;
}
main .agenda .card-title {
  background-color: #AAAAAA;
  color: #FFFFFF;
  padding: 1rem 1rem 1rem 1.5rem;
  margin: 0;
}
main .agenda .card-text span {
  display: block;
  margin-top: 0.5rem;
}
main .agenda .card-text span i {
  margin-right: 0.5rem;
}
main .news h3 {
  color: #F47A20;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
