body {
  font-family: "Source Sans Pro", sans-serif;
  color: #343434;
  font-size: 1.125rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

header {
  background-color: #f8f9fa;
}

.navbar {
  font-size: 1.125rem;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 2rem 0;
  }
}

.navbar-brand {
  max-width: 60%;
}
@media screen and (min-width: 768px) {
  .navbar-brand {
    max-width: 25%;
  }
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:active, .navbar-toggler:focus {
  outline: none;
}

.nav-item {
  padding: 0.5rem;
}
.nav-item + .nav-item {
  border-top: 1px solid #EFEFEF;
}
@media screen and (min-width: 768px) {
  .nav-item + .nav-item {
    border-top: none;
  }
}

.nav-link {
  font-weight: 600;
}

.dropdown-toggle::after {
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .dropdown-toggle::after {
    display: none;
  }
}
.nav-item.show .dropdown-toggle::after {
  border-bottom: 0.3em solid;
  border-top: 0;
}

.navigation-donate {
  margin-top: 1rem;
  padding: 0 0.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .navigation-donate {
    margin-top: 0.5rem;
  }
}

.btn-nav-donate {
  background-color: #F47A20;
  color: #FFFFFF;
  font-size: inherit;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  width: 100%;
}
.btn-nav-donate:hover, .btn-nav-donate:active, .btn-nav-donate:focus {
  background-color: #d6610b;
  color: #FFFFFF;
}

.dropdown-menu {
  background-color: #f8f9fa;
  border: 0;
  padding: 0;
  margin: -0.4rem 0 0;
}
@media screen and (min-width: 768px) {
  .dropdown-menu {
    border: 1px solid #EFEFEF;
  }
}
.dropdown-menu .dropdown-item {
  border-top: 1px solid #EFEFEF;
  padding: 0.5rem;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link {
  color: #F47A20;
}

.navbar-light .navbar-nav .nav-link {
  color: #343434;
}

.navbar-nav li:hover > .dropdown-menu {
  display: block;
}

.navbar-light .navbar-nav .language-dropdown,
.navbar-light .navbar-nav .search-link {
  color: #AAAAAA;
  font-size: 1rem;
}

.search-link i {
  font-size: 0.875rem;
}

.modal-header {
  color: #F47A20;
}

.modal-body {
  margin-bottom: 1rem;
}

.dropdownAnimatie {
  animation-name: dropdownAnimatie;
}

@media (min-width: 992px) {
  .animatie {
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }
}
@keyframes dropdownAnimatie {
  10% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
footer {
  background-color: #f8f9fa;
  color: #343434;
}
footer .footer-rows {
  justify-content: space-between;
  padding: 2rem 0 3rem;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul .footer-title {
  font-weight: 600;
  margin-bottom: 1rem;
}
footer ul li + li {
  margin-top: 0.25rem;
}
footer a {
  color: #343434;
}
footer a:hover {
  color: #F47A20;
  text-decoration: none;
}
footer .card,
footer .card-header {
  border: none;
  background-color: transparent;
}
footer .card-header {
  padding: 0.75rem 0;
}
footer .card-header .btn-link {
  color: #343434;
  font-weight: 600;
}
footer .card-header .btn-link:active, footer .card-header .btn-link:focus {
  text-decoration: none;
}
footer .card-header .btn-link::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}
footer .card-header .btn-link[aria-expanded=true]::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}
footer .card-body {
  padding-top: 0;
}
footer .footer-side-info {
  background-color: #343434;
  padding: 1rem;
  color: #FFFFFF;
  font-size: 0.875rem;
}
footer .footer-side-info a {
  color: #FFFFFF;
  display: inline-block;
  margin-right: 1rem;
}
footer .footer-side-info a:hover {
  color: #F47A20;
  text-decoration: none;
}
footer .footer-side-info a:first-of-type {
  width: 100%;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  footer .footer-side-info a:first-of-type {
    width: auto;
    margin-bottom: 0;
  }
}
footer .footer-side-info span {
  margin-right: 1rem;
}
footer .navigation-donate {
  margin-top: 0.3rem;
}

img {
  height: auto;
  max-width: 100%;
}

.contact-us {
  background-color: #F47A20;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}
.contact-us span {
  margin-right: 0.5rem;
  display: block;
}
@media screen and (min-width: 768px) {
  .contact-us span {
    display: inline;
  }
}
.contact-us a {
  color: #FFFFFF;
}
.contact-us i {
  font-size: 0.875rem;
}

main {
  background-color: #EFEFEF;
}
main .cards {
  padding: 1rem 0;
}
main .cards.select-target {
  padding: 4rem 0;
}
@media screen and (min-width: 768px) {
  main .cards {
    display: flex;
    padding: 4rem 0;
  }
}
main .cards .card {
  border: none;
  flex: 1;
}
main .cards .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .cards .card .card-body .btn {
  margin-bottom: 0;
  margin-top: 2rem;
}
main .cards .card:not(:last-child) {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  main .cards .card:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
main .cards .btn {
  color: #FFFFFF;
  font-weight: 700;
  width: 100%;
}
main .cards .btn:focus, main .cards .btn:active {
  box-shadow: none;
}
main .cards .btn-client {
  background-color: #2D8EFC;
}
main .cards .btn-client:hover, main .cards .btn-client:active, main .cards .btn-client:focus {
  background-color: #0373f3;
}
main .cards .btn-volunteer {
  background-color: #6BCB4F;
}
main .cards .btn-volunteer:hover, main .cards .btn-volunteer:active, main .cards .btn-volunteer:focus {
  background-color: #51b235;
}
main .cards .btn-donate {
  background-color: #F47A20;
}
main .cards .btn-donate:hover, main .cards .btn-donate:active, main .cards .btn-donate:focus {
  background-color: #d6610b;
}
main .jumbotron {
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  main .jumbotron .jumbotron-flex {
    display: flex;
  }
  main .jumbotron .jumbotron-flex .about-us {
    padding-left: 3rem;
  }
}
main .jumbotron img {
  border-radius: 0.25rem;
}
main .jumbotron h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
main .jumbotron h3 {
  color: #F47A20;
  font-size: 1rem;
  margin-bottom: 1rem;
}
main .jumbotron .link-about-us {
  text-align: left;
}
main .jumbotron .link-about-us:active, main .jumbotron .link-about-us:focus, main .jumbotron .link-about-us:hover {
  text-decoration: none;
}
main .jumbotron .link-about-us i {
  margin-left: 0.5rem;
}
main .link-arrow {
  color: #343434;
  display: block;
  margin-right: 0.5rem;
  text-align: right;
}
main .link-arrow .fa-arrow-right {
  transition: all 0.3s ease-in-out;
}
main .link-arrow:hover .fa-arrow-right {
  margin-left: 1rem;
  margin-right: -0.5rem;
}
main.homepage .agenda, main.client-issue .agenda, main.donate-products .agenda, main.aboutus-contact .agenda {
  padding-bottom: 0;
}
main.homepage .agenda h2, main.client-issue .agenda h2, main.donate-products .agenda h2, main.aboutus-contact .agenda h2 {
  margin: 3rem 0 1rem;
}
@media screen and (min-width: 768px) {
  main.homepage .agenda .cards, main.client-issue .agenda .cards, main.donate-products .agenda .cards, main.aboutus-contact .agenda .cards {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
main.homepage .agenda .cards .card, main.client-issue .agenda .cards .card, main.donate-products .agenda .cards .card, main.aboutus-contact .agenda .cards .card {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  main.homepage .agenda .cards .card:not(:last-child), main.client-issue .agenda .cards .card:not(:last-child), main.donate-products .agenda .cards .card:not(:last-child), main.aboutus-contact .agenda .cards .card:not(:last-child) {
    margin-right: 2rem;
  }
}
main.homepage .agenda .card-title, main.client-issue .agenda .card-title, main.donate-products .agenda .card-title, main.aboutus-contact .agenda .card-title {
  background-color: #343434;
  color: #FFFFFF;
  padding: 1rem 1rem 1rem 1.5rem;
  margin: 0;
  font-size: 1rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
main.homepage .agenda .card-text span, main.client-issue .agenda .card-text span, main.donate-products .agenda .card-text span, main.aboutus-contact .agenda .card-text span {
  display: block;
  margin-top: 0.5rem;
}
main.homepage .agenda .card-text span i, main.client-issue .agenda .card-text span i, main.donate-products .agenda .card-text span i, main.aboutus-contact .agenda .card-text span i {
  margin-right: 0.5rem;
}
main.client-issue .agenda {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  main.client-issue .agenda {
    padding-bottom: 4rem;
  }
}
main.client-issue .agenda .cards .card:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  main.client-issue .agenda .cards {
    padding-bottom: 0;
  }
  main.client-issue .agenda .cards .card:last-child {
    margin-bottom: 2rem;
  }
}
main.donate-products .agenda .cards .card:not(:last-child) {
  margin-right: 0;
}
main .news {
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  main .news h2 {
    min-height: 56px;
  }
}
main .news h3 {
  color: #F47A20;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  main .news .cards {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
main .link-more-news {
  text-align: right;
  color: #AAAAAA;
  display: block;
  margin-right: 1.5rem;
}
main .link-more-news:active, main .link-more-news:focus, main .link-more-news:hover {
  text-decoration: none;
}
main .link-more-news i {
  margin-left: 0.5rem;
}

.donate .criteria-heading h3 {
  color: #F47A20;
}

main nav[aria-label=breadcrumb] {
  background-color: #343434;
  color: #FFFFFF;
}
main nav[aria-label=breadcrumb] .breadcrumb {
  background-color: #343434;
  padding: 1rem 0;
}
main nav[aria-label=breadcrumb] .breadcrumb-item + .breadcrumb-item::before {
  color: #FFFFFF;
}
main h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
}
main .pro-donate {
  margin: 3rem 0 1rem;
}
main ol {
  margin-bottom: 3rem;
  padding-left: 1rem;
}
main ol li {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
main .text-grow {
  flex-basis: 30%;
}
main .form-donate {
  padding: 0;
}
main .donate-form {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (min-width: 768px) {
  main .donate-form {
    height: 100%;
    padding: 9.5rem 2rem;
  }
}
main .donate-form h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #F47A20;
  padding-bottom: 0.5rem;
  color: #F47A20;
}
main .radio-buttons {
  margin-bottom: 1rem;
}
main .radio-buttons .form-check-inline {
  margin-right: 1.5rem;
}
main .input-group-text {
  border: 0;
  background-color: #EFEFEF;
  font-weight: 500;
}
main input.form-control {
  border: 0;
  background-color: #EFEFEF;
}
main input.form-control:focus {
  box-shadow: none;
}
main .btn-donate {
  margin: 0.5rem 0 1rem;
}
main .testimonials {
  padding-bottom: 2rem;
}
main .testimonials .card {
  border: none;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  main .testimonials .card {
    margin-bottom: 0;
  }
}
main .testimonials .card p {
  font-weight: 700;
}
main .testimonials .card .card-title {
  font-weight: 500;
  color: #F47A20;
}

main .cards.collect-moment {
  display: block;
  padding-bottom: 2rem;
}

.donate-product-info {
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .donate-product-info .agenda .cards .card {
    margin-right: 0;
  }
}
.donate-product-info .agenda .cards .card .card-title {
  background-color: #F47A20;
}

.jumbotron-style-list {
  margin-left: 2rem;
}

.product-list {
  margin-top: 3rem;
}
.product-list h2 {
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  color: #F47A20;
}
.product-list ul {
  font-weight: 300;
  padding-left: 0.5rem;
}
.product-list p {
  margin: 2rem 2rem;
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  padding: 1rem 0;
}
.product-list .download-link {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .product-list .download-link {
    text-align: right;
    margin-bottom: 0;
  }
}

.download-link {
  color: #AAAAAA;
  display: block;
  margin-right: 1.5rem;
}
.download-link:active, .download-link:focus, .download-link:hover {
  text-decoration: none;
  color: #F47A20;
}
.download-link i {
  margin-left: 0.5rem;
}

main.client .cards.select-target {
  padding: 1rem 0 4rem;
}
main.client .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main.client .card-body .btn-client {
  margin-top: 2rem;
}

.agenda {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .agenda {
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 768px) {
  main .agenda .issue-moment {
    padding-bottom: 1rem;
  }
  main .agenda .issue-moment .card {
    margin-bottom: 0;
  }

  .download-link-issue {
    text-align: right;
    margin-right: 0;
  }
}
.contact-client h2 {
  margin-bottom: 2rem;
}
.contact-client dt {
  margin-bottom: 0.5rem;
}
.contact-client dd {
  margin-bottom: 1rem;
}
.contact-client ul {
  list-style-type: none;
  padding: 0;
}
.contact-client i {
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .google-maps {
    margin: 4rem 4rem 0 0;
  }

  .jumbotron-issue {
    padding-bottom: 0;
  }
}
html {
  scroll-behavior: smooth;
}

.main-client-criteria-test {
  padding-bottom: 4rem;
}
.main-client-criteria-test .breadcrumb {
  margin-bottom: 4rem;
}
.criteria-heading {
  margin-bottom: 3rem;
}
.criteria-heading h1 {
  margin-bottom: 1rem;
}
.criteria-heading h3 {
  color: #2D8EFC;
  margin-bottom: 1rem;
}

.question {
  background-color: #FFFFFF;
  margin-bottom: 3rem;
}
.question h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .question {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }
}
.question .left {
  padding: 1rem 1rem 5rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .question .left {
    flex: 1;
    padding-top: 2rem;
    padding-left: 3rem;
  }
}
.question .next {
  bottom: 2rem;
  right: 1rem;
  position: absolute;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .question .next {
    bottom: 2rem;
    right: 3rem;
  }
}
.question i {
  margin-left: 0.5rem;
}
.question img {
  display: none;
}
@media screen and (min-width: 768px) {
  .question img {
    display: block;
  }
}

.form-personen {
  display: inline-block;
  width: 2.6rem;
}

.hide {
  display: none;
}

.main-client-recipes .recipes h3 {
  color: #2D8EFC;
}
@media screen and (min-width: 768px) {
  .main-client-recipes .recipes .cards {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
  }
  .main-client-recipes .recipes .cards .card {
    flex: auto;
    margin-bottom: 2rem;
    margin-right: 2rem;
    width: calc(33% - 2rem);
  }
}

main.main-client-external a {
  display: block;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
main.main-client-external a i {
  margin-right: 0.5rem;
}
main.main-client-external p {
  margin-bottom: 2rem;
}
main.main-client-external .criteria-heading {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  main.main-client-external .cards {
    flex-wrap: wrap;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  main.main-client-external .cards .card {
    flex: auto;
    margin-bottom: 2rem;
    margin-right: 2rem;
    width: calc(33% - 2rem);
  }
  main.main-client-external .cards .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main.main-client-external .cards .card .card-body > div:first-child {
    margin-bottom: 2rem;
  }
}

.main-volunteer-jobs .breadcrumb {
  margin-bottom: 0rem;
}
.main-volunteer-jobs .about-us {
  padding-left: 0rem !important;
}
.main-volunteer-jobs input.form-control {
  background-color: #FFFFFF;
}
.main-volunteer-jobs .input-group-text {
  background-color: #FFFFFF;
}
.main-volunteer-jobs .btn-donate {
  color: #FFFFFF;
  background-color: #F47A20;
  font-weight: 700;
  max-width: 100%;
  padding: 15px;
  height: 22%;
}
.main-volunteer-jobs .btn-donate:hover, .main-volunteer-jobs .btn-donate:active, .main-volunteer-jobs .btn-donate:focus {
  background-color: #d6610b;
}
.main-volunteer-jobs h3 {
  color: #6BCB4F !important;
}
.main-volunteer-jobs p {
  font-size: 1rem;
}
.main-volunteer-jobs .helpbox p {
  margin-bottom: 2.5rem;
}
.main-volunteer-jobs .vacatures {
  padding: 1.25rem;
}
.main-volunteer-jobs .vacatures h3 {
  padding-bottom: 1rem;
}

.volunteer .criteria-heading h3 {
  color: #6BCB4F;
}
.volunteer .cards.select-target {
  padding: 1rem 0 4rem;
}

.breadcrumb {
  margin-bottom: 0rem;
}

.main-about-us .about-us {
  padding-left: 0rem !important;
}
.main-about-us h2 {
  padding-bottom: 2rem;
}
.main-about-us h3 {
  color: #F47A20;
}
.main-about-us .overons .card-title {
  background-color: #F47A20;
  color: #FFFFFF;
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;
  margin: 0;
  font-size: 1rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.main-about-us .overons .maatschapplelijk {
  padding: 1.5rem 1rem 1.3rem 1rem;
}
.main-about-us .bestuurstyle {
  background-color: #FFFFFF;
}

.aboutus-contact .google-maps {
  margin: 0rem 4rem 4rem 0;
}
.aboutus-contact .contacth2 {
  color: #F47A20;
}
.aboutus-contact .form-control {
  background-color: #EFEFEF;
}
.aboutus-contact .aboutus-maps-container {
  background-color: #FFFFFF;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.aboutus-contact .klantadmin .card {
  background-color: #f1f1f1;
}

.faq {
  margin-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .faq {
    margin-bottom: 0;
    padding-bottom: 4rem;
  }
}
.faq h2 {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .faq h2 {
    margin-bottom: 2rem;
  }
}

.accordion {
  background-color: #FFFFFF;
}
.accordion .card,
.accordion .card-header {
  border: none;
}
.accordion .card,
.accordion .card:first-of-type,
.accordion .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 2px solid #EFEFEF;
}
.accordion .card:last-of-type {
  border-bottom: none;
}
.accordion .card-header {
  padding: 0.75rem 0;
}
.accordion .card-header .btn-link {
  color: #343434;
  font-weight: 600;
  text-align: left;
}
.accordion .card-header .btn-link:active, .accordion .card-header .btn-link:focus, .accordion .card-header .btn-link:hover {
  text-decoration: none;
}
.accordion .card-header .btn-link::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  right: 0.5rem;
  top: 1.8rem;
}
.accordion .card-header .btn-link[aria-expanded=true]::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}

.link-arrow {
  color: #FFFFFF;
}

.main-news .h2news {
  margin: 2rem 0 2rem 0;
}
.main-news .page-link {
  color: #343434;
}
.main-news .page-item.active .page-link {
  background-color: #F47A20;
  border-color: #F47A20;
}
@media screen and (max-width: 992px) {
  .main-news .card-img-right {
    display: none !important;
  }
}
.main-news .card-img-right {
  width: 200px;
  height: 271px;
}
.main-news .card p {
  padding-bottom: 1rem;
}
.main-news .pagination-container {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

/*# sourceMappingURL=style.css.map */
